*,
::before,
::after{
    box-sizing: border-box;
}

body {
    padding: auto;
    background-color: #fff;
}


.contenedor {
    margin: auto;
    width: 900px;
    height: auto;
    border: 2px solid #000;
}

.alumno{
    font-size: 12px;
    text-align: center;
}

.U-Principal{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.header {
    border: 1px solid #000;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 45px;
    
}

.Universidad {
    padding: 20px;
}


.Universidad h1{
    font-size: 20px;
    color:#FF0000;
    padding: 0;
    margin: 0;
}

.Universidad h2{
    color:#366F91;
}

.Facultad{
    padding: 0;
    margin: 0;
    display: flex;
    direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.header img {
    padding: 12px;
    width: 100px;
    height: 100px;
}

.carrera{
    font-size: 12px;
    text-align: center;
}

#rojo{
    background-color: #FF0000;
}

#amarillo{
    background-color:#FFFF00 ;
}
#verde{
    background-color: #00B050;
}
.medio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    width: auto;
   
}

.derecha{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 130px;
    background-color:#366F91;
    align-items:center;
    border: 1px solid #000;
}

.centro{
    display: flex;
    justify-content: row;
    width: 770px; 
}
h4{
    
}

.contador-hijo {
    margin: 20px;
    padding-right: 17px;
}

.hijo{
    padding: 5px;
    text-align: center;
    width: 100px;
    border: 1px solid #000;
    background-color: white;
}

.ultimo{
    background-color:#4C9BD3;
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #000;

}

