body{
    background-color: gray;
}

h1{
    text-align: center;
    border: 1px solid;
    color: white
}


h3{
    text-align: center;
    border: 1px solid white;
}

div {
    text-align: center;
    rotate: 270deg;
}